[submodule "Program/db-sqlite/db"]
	path = Program/db-sqlite/db
	url = org-106581657@github.com:dsd-db/db.git
	branch = main
[submodule "Program/db-collect/collect"]
	path = Program/db-collect/collect
	url = org-106581657@github.com:dsd-db/collect.git
	branch = main
[submodule "Program/db-collect/collect-w2l-windows"]
	path = Program/db-collect/collect-w2l-windows
	url = org-106581657@github.com:dsd-db/collect-w2l-windows.git
